.main-page{
    background-image url("/assets/images/banner.jpg")
    background-repeat no-repeat
    background-size cover
    background-position center 0
    min-height 935px
    padding 110px 0
}

.mapa-de-minas{
    background-image url("/assets/images/mapa-de-minas.png")
    min-height 820px
    background-repeat no-repeat
    background-position center 90px
    padding-top 400px

    .about{
        width 460px
        margin-left 560px

        .about-title {
            font-family "PN-ExtraBold"
            font-size 45px
            line-height 39px
            text-transform uppercase
            color #fff
            margin-bottom 16px
        }

        .about-text {
            font-family "PN-SemiBold"
            font-size 14px
            line-height 20px
            color #fff

        }
    }
    .minasdev-socials{
        margin-top 210px
        text-align center
    }
}