.apoios-parceiros{
    background-color #242424
    .container{
        padding 0 55px
    }
    .apoios-parceiros-title {
        font-family "PN-Black"
        font-size 44px
        text-transform uppercase
        color #fff
        display block
        text-align center
        padding 110px 0 42px 0
    }
    .apoios-parceiros-container {
        display block
        text-align center
        padding-bottom 60px
        border-bottom 1px solid #e8422f
    }
    .apoios-parceiros-item {
        display inline-block
        vertical-align middle
        margin 0 40px 50px 40px
    }
    .apoios-parceiros-link {
        display block
        -webkit-transition all 0.2s ease
        -moz-transition all 0.2s ease
        transition all 0.2s ease
        opacity: 0.7
        &:hover{
            opacity: 1
        }
    }

    .frontinbh{
        background-position $frontinbh_offset_x $frontinbh_offset_y
        width $frontinbh_width
        height 0
        padding-top $frontinbh_height
        overflow hidden
    }

    .braziljs{
        background-position $braziljs_offset_x $braziljs_offset_y
        width $braziljs_width
        height 0
        padding-top $braziljs_height
        overflow hidden
    }

    .devcast{
        background-position $devcast_offset_x $devcast_offset_y
        width $devcast_width
        height 0
        padding-top $devcast_height
        overflow hidden
    }

    .eventick{
        background-position $eventick_offset_x $eventick_offset_y
        width $eventick_width
        height 0
        padding-top $eventick_height
        overflow hidden
    }

    .casa-do-codigo{
        background-position $casa-do-codigo_offset_x $casa-do-codigo_offset_y
        width $casa-do-codigo_width
        height 0
        padding-top $casa-do-codigo_height
        overflow hidden
    }

    .jchebly{
        background-position $jchebly_offset_x $jchebly_offset_y
        width $jchebly_width
        height 0
        padding-top $jchebly_height
        overflow hidden
    }

    .wordcamp{
        background-position $wordcamp_offset_x $wordcamp_offset_y
        width $wordcamp_width
        height 0
        padding-top $wordcamp_height
        overflow hidden
    }

    .rccomunicacao{
        background-position $rccomunicacao_offset_x $rccomunicacao_offset_y
        width $rccomunicacao_width
        height 0
        padding-top $rccomunicacao_height
        overflow hidden
    }

    .helabs{
        background-position $helabs_offset_x $helabs_offset_y
        width $helabs_width
        height 0
        padding-top $helabs_height
        overflow hidden
    }
}