.minasdev-beer{
    background-color #242424
    display none
    .container{
        padding 80px 0
    }
    .informacoes{
        display inline-block
        vertical-align middle
        width 635px
        padding-left 55px
    }

    .minasdev-beer-logo {
        display inline-block
        vertical-align middle
        background-image url("/assets/images/svgs/minasdev-beer-logo.svg")
        background-position 0 0
        background-repeat no-repeat
        background-size 100% auto
        width 458px
        height 0
        padding-top 345px
        overflow hidden
        margin-left 25px
    }

    .minasdev-beer-title {
        font-family "PN-Black"
        font-size 44px
        text-transform uppercase
        display block
        color #fdb902
        margin-bottom 20px
    }

    .minasdev-beer-desc {
        font-family "PN-SemiBold"
        font-size 14px
        display block
        color #fff
        margin-bottom 45px
    }
    .minasdev-beer-subtitle {
        font-family "PN-ExtraBold"
        font-size 18px
        text-transform uppercase
        display block
        color #fdb902
        margin-bottom 32px
    }
    .minasdev-beer-date-container {
      display none
    }
    .minasdev-beer-date {
        font-family "PN-Black"
        font-size 44px
        text-transform uppercase
        display block
        color #fff
        &:after{
            display block
            content ''
            width 100px
            height 5px
            margin 12px 0 14px
            background-color #fdb902
        }
    }

    .local{
        font-family "PN-ExtraBold"
        font-size 14px
        text-transform uppercase
        display block
        color #fdb902
        margin-bottom 12px
    }
    .minasdev-beer-address, .more-infos{
        font-family "PN-SemiBold"
        font-size 12px
        display block
        color #fff
        margin-bottom 4px
        text-decoration none
    }
    .more-infos{
        margin-top 14px
    }
    .minasdev-beer-link {
        text-decoration none
        font-family "PN-SemiBold"
        color #fdb902
        display block
        font-size 12px
        margin-top 6px
        font-style italic
    }
}
