.align-center{
    margin 0 auto
}
.horz-middle-align{
    display inline-block
    vertical-align middle
}
.pushto-left{
    float left
}
.pushto-right{
    float right
}
.overflow-hidden{
    overflow hidden
}
.show{
    display block !important
}