/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$como-participar_x = 0px;
$como-participar_y = 465px;
$como-participar_offset_x = 0px;
$como-participar_offset_y = -465px;
$como-participar_width = 937px;
$como-participar_height = 289px;
$como-participar_total_width = 937px;
$como-participar_total_height = 754px;
$como-participar_image = '../../../public/assets/images/figures.png';
$como-participar = 0px 465px 0px -465px 937px 289px 937px 754px '../../../public/assets/images/figures.png';
$braziljs_x = 0px;
$braziljs_y = 70px;
$braziljs_offset_x = 0px;
$braziljs_offset_y = -70px;
$braziljs_width = 92px;
$braziljs_height = 32px;
$braziljs_total_width = 937px;
$braziljs_total_height = 754px;
$braziljs_image = '../../../public/assets/images/figures.png';
$braziljs = 0px 70px 0px -70px 92px 32px 937px 754px '../../../public/assets/images/figures.png';
$casa-do-codigo_x = 0px;
$casa-do-codigo_y = 194px;
$casa-do-codigo_offset_x = 0px;
$casa-do-codigo_offset_y = -194px;
$casa-do-codigo_width = 165px;
$casa-do-codigo_height = 48px;
$casa-do-codigo_total_width = 937px;
$casa-do-codigo_total_height = 754px;
$casa-do-codigo_image = '../../../public/assets/images/figures.png';
$casa-do-codigo = 0px 194px 0px -194px 165px 48px 937px 754px '../../../public/assets/images/figures.png';
$eventick_x = 0px;
$eventick_y = 0px;
$eventick_offset_x = 0px;
$eventick_offset_y = 0px;
$eventick_width = 107px;
$eventick_height = 29px;
$eventick_total_width = 937px;
$eventick_total_height = 754px;
$eventick_image = '../../../public/assets/images/figures.png';
$eventick = 0px 0px 0px 0px 107px 29px 937px 754px '../../../public/assets/images/figures.png';
$frontinbh_x = 0px;
$frontinbh_y = 34px;
$frontinbh_offset_x = 0px;
$frontinbh_offset_y = -34px;
$frontinbh_width = 138px;
$frontinbh_height = 31px;
$frontinbh_total_width = 937px;
$frontinbh_total_height = 754px;
$frontinbh_image = '../../../public/assets/images/figures.png';
$frontinbh = 0px 34px 0px -34px 138px 31px 937px 754px '../../../public/assets/images/figures.png';
$helabs_x = 0px;
$helabs_y = 247px;
$helabs_offset_x = 0px;
$helabs_offset_y = -247px;
$helabs_width = 68px;
$helabs_height = 104px;
$helabs_total_width = 937px;
$helabs_total_height = 754px;
$helabs_image = '../../../public/assets/images/figures.png';
$helabs = 0px 247px 0px -247px 68px 104px 937px 754px '../../../public/assets/images/figures.png';
$jchebly_x = 0px;
$jchebly_y = 107px;
$jchebly_offset_x = 0px;
$jchebly_offset_y = -107px;
$jchebly_width = 116px;
$jchebly_height = 36px;
$jchebly_total_width = 937px;
$jchebly_total_height = 754px;
$jchebly_image = '../../../public/assets/images/figures.png';
$jchebly = 0px 107px 0px -107px 116px 36px 937px 754px '../../../public/assets/images/figures.png';
$rccomunicacao_x = 0px;
$rccomunicacao_y = 148px;
$rccomunicacao_offset_x = 0px;
$rccomunicacao_offset_y = -148px;
$rccomunicacao_width = 174px;
$rccomunicacao_height = 41px;
$rccomunicacao_total_width = 937px;
$rccomunicacao_total_height = 754px;
$rccomunicacao_image = '../../../public/assets/images/figures.png';
$rccomunicacao = 0px 148px 0px -148px 174px 41px 937px 754px '../../../public/assets/images/figures.png';
$wordcamp_x = 0px;
$wordcamp_y = 356px;
$wordcamp_offset_x = 0px;
$wordcamp_offset_y = -356px;
$wordcamp_width = 90px;
$wordcamp_height = 104px;
$wordcamp_total_width = 937px;
$wordcamp_total_height = 754px;
$wordcamp_image = '../../../public/assets/images/figures.png';
$wordcamp = 0px 356px 0px -356px 90px 104px 937px 754px '../../../public/assets/images/figures.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
