/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$facebook_x = 0px;
$facebook_y = 700px;
$facebook_offset_x = 0px;
$facebook_offset_y = -700px;
$facebook_width = 15px;
$facebook_height = 32px;
$facebook_total_width = 32px;
$facebook_total_height = 732px;
$facebook_image = '../../../public/assets/images/icons.png';
$facebook = 0px 700px 0px -700px 15px 32px 32px 732px '../../../public/assets/images/icons.png';
$facebook_hover_x = 0px;
$facebook_hover_y = 628px;
$facebook_hover_offset_x = 0px;
$facebook_hover_offset_y = -628px;
$facebook_hover_width = 15px;
$facebook_hover_height = 32px;
$facebook_hover_total_width = 32px;
$facebook_hover_total_height = 732px;
$facebook_hover_image = '../../../public/assets/images/icons.png';
$facebook_hover = 0px 628px 0px -628px 15px 32px 32px 732px '../../../public/assets/images/icons.png';
$google-plus_x = 0px;
$google-plus_y = 560px;
$google-plus_offset_x = 0px;
$google-plus_offset_y = -560px;
$google-plus_width = 32px;
$google-plus_height = 28px;
$google-plus_total_width = 32px;
$google-plus_total_height = 732px;
$google-plus_image = '../../../public/assets/images/icons.png';
$google-plus = 0px 560px 0px -560px 32px 28px 32px 732px '../../../public/assets/images/icons.png';
$google-plus_hover_x = 0px;
$google-plus_hover_y = 492px;
$google-plus_hover_offset_x = 0px;
$google-plus_hover_offset_y = -492px;
$google-plus_hover_width = 32px;
$google-plus_hover_height = 28px;
$google-plus_hover_total_width = 32px;
$google-plus_hover_total_height = 732px;
$google-plus_hover_image = '../../../public/assets/images/icons.png';
$google-plus_hover = 0px 492px 0px -492px 32px 28px 32px 732px '../../../public/assets/images/icons.png';
$min-facebook_x = 0px;
$min-facebook_y = 120px;
$min-facebook_offset_x = 0px;
$min-facebook_offset_y = -120px;
$min-facebook_width = 20px;
$min-facebook_height = 20px;
$min-facebook_total_width = 32px;
$min-facebook_total_height = 732px;
$min-facebook_image = '../../../public/assets/images/icons.png';
$min-facebook = 0px 120px 0px -120px 20px 20px 32px 732px '../../../public/assets/images/icons.png';
$min-github_x = 0px;
$min-github_y = 180px;
$min-github_offset_x = 0px;
$min-github_offset_y = -180px;
$min-github_width = 20px;
$min-github_height = 20px;
$min-github_total_width = 32px;
$min-github_total_height = 732px;
$min-github_image = '../../../public/assets/images/icons.png';
$min-github = 0px 180px 0px -180px 20px 20px 32px 732px '../../../public/assets/images/icons.png';
$min-google-plus_x = 0px;
$min-google-plus_y = 0px;
$min-google-plus_offset_x = 0px;
$min-google-plus_offset_y = 0px;
$min-google-plus_width = 20px;
$min-google-plus_height = 20px;
$min-google-plus_total_width = 32px;
$min-google-plus_total_height = 732px;
$min-google-plus_image = '../../../public/assets/images/icons.png';
$min-google-plus = 0px 0px 0px 0px 20px 20px 32px 732px '../../../public/assets/images/icons.png';
$min-link_x = 0px;
$min-link_y = 300px;
$min-link_offset_x = 0px;
$min-link_offset_y = -300px;
$min-link_width = 20px;
$min-link_height = 20px;
$min-link_total_width = 32px;
$min-link_total_height = 732px;
$min-link_image = '../../../public/assets/images/icons.png';
$min-link = 0px 300px 0px -300px 20px 20px 32px 732px '../../../public/assets/images/icons.png';
$min-linkedin_x = 0px;
$min-linkedin_y = 240px;
$min-linkedin_offset_x = 0px;
$min-linkedin_offset_y = -240px;
$min-linkedin_width = 20px;
$min-linkedin_height = 20px;
$min-linkedin_total_width = 32px;
$min-linkedin_total_height = 732px;
$min-linkedin_image = '../../../public/assets/images/icons.png';
$min-linkedin = 0px 240px 0px -240px 20px 20px 32px 732px '../../../public/assets/images/icons.png';
$min-twitter_x = 0px;
$min-twitter_y = 60px;
$min-twitter_offset_x = 0px;
$min-twitter_offset_y = -60px;
$min-twitter_width = 20px;
$min-twitter_height = 20px;
$min-twitter_total_width = 32px;
$min-twitter_total_height = 732px;
$min-twitter_image = '../../../public/assets/images/icons.png';
$min-twitter = 0px 60px 0px -60px 20px 20px 32px 732px '../../../public/assets/images/icons.png';
$twitter_x = 0px;
$twitter_y = 360px;
$twitter_offset_x = 0px;
$twitter_offset_y = -360px;
$twitter_width = 32px;
$twitter_height = 26px;
$twitter_total_width = 32px;
$twitter_total_height = 732px;
$twitter_image = '../../../public/assets/images/icons.png';
$twitter = 0px 360px 0px -360px 32px 26px 32px 732px '../../../public/assets/images/icons.png';
$twitter_hover_x = 0px;
$twitter_hover_y = 426px;
$twitter_hover_offset_x = 0px;
$twitter_hover_offset_y = -426px;
$twitter_hover_width = 32px;
$twitter_hover_height = 26px;
$twitter_hover_total_width = 32px;
$twitter_hover_total_height = 732px;
$twitter_hover_image = '../../../public/assets/images/icons.png';
$twitter_hover = 0px 426px 0px -426px 32px 26px 32px 732px '../../../public/assets/images/icons.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
