.footer-page{
    background-color #242424
    padding-bottom 45px
    .container{
        padding 0 55px
    }
    .pushto-left{
        width 360px
    }
    .pushto-right{
        width 165px
        text-align center
    }
    .contact-title {
        font-family "PN-Black"
        font-size 35px
        text-transform uppercase
        display block
        color #e8422f
        margin 45px 0 20px 0
    }
    .contact-desc, .irc-channel, .copyright {
        font-family "PN-SemiBold"
        font-size 14px
        display block
        color #fff
        line-height 20px
        .contact-link {
            color #e8422f
            text-decoration none
        }
    }
    .minasdev-socials{
        padding 50px 0 30px 0
        .minasdev-social{
            margin 0 12px
            &:hover{
                opacity 0.6
            }
        }
    }
    .irc-channel a{
        display block
        color #e8422f
        margin-bottom 20px
        text-decoration none
        text-align center
    }
    .copyright{
        display block
        text-align center
    }
}
